.dragItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80vh;
}

.list {
    overflow-y: auto;
}