.title {
    display: flex;
    align-items: start;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link:hover,
.active:hover {
    color: #fff;
}